<div class="side_bar">
  <div class="element flex" routerLink="/today" routerLinkActive="active">
    <div class="active"></div>
    <img src="../../../assets/img/calendar.png" alt="">
    <span>Сегодня</span>
  </div>
  <div class="element flex" routerLink="/trains" routerLinkActive="active">
    <div class="active"></div>
    <img src="../../../assets/img/dumbbell.png" alt="">
    <span>Тренировки</span>
  </div>
  <div class="element flex" routerLink="/exercises" routerLinkActive="active">
    <div class="active"></div>
    <img src="../../../assets/img/kettlebell.png" alt="">
    <span>Упражнения</span>
  </div>
  <div class="element flex" routerLink="/friends" routerLinkActive="active">
    <div class="active"></div>
    <img src="../../../assets/img/friends.png" alt="">
    <span>Друзья</span>
  </div>
</div>
